[submodule "/home/ahmad/projects/dotfiles/.vim/bundle/Apprentice"]
	path = /home/ahmad/projects/dotfiles/.vim/bundle/Apprentice
	url = git@github.com:romainl/Apprentice.git
[submodule "/home/ahmad/projects/dotfiles/.vim/bundle/nerdtree"]
	path = /home/ahmad/projects/dotfiles/.vim/bundle/nerdtree
	url = git@github.com:preservim/nerdtree.git
